.headercard{
    left: 173px;
    top: 232px;
    margin: 50px 0px 50px 0px;
    background: rgba(0, 0, 0, 0.69);
    border-radius: 20px;
    display: flex;
    justify-content: left;
    padding: 50px;
    box-shadow: 0 4px 17px rgba(black, 0.35);
  }

.h2 {
 color: red;
}