
<h1>{{movie.title}}</h1>

<div class="headercard">
  <ul>
    <p><b>Description:</b> {{movie.opening_crawl}}</p> 
    <p><b>Driector:</b> {{movie.director}}</p>
    <p><b>Producer:</b> {{movie.producer}}</p>
    <p><b>Release Date:</b> {{movie.release_date}}</p>
  </ul>
</div>
<h2>CHARACTERS</h2>
  <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
  </ul>
<h2>PLANETS</h2>
  <ul>
    <li>{{planet.name}}</li>
    <li>{{movie.planets}}</li>
    <li>{{planet.name}}</li>
  </ul>
<h2>VEHICLES</h2>
  <ul>
    <li>{{movie.vehicles}}</li>
    <li></li>
    <li></li>
    <li></li>
   </ul>
    

