$bright: #FFE81F;
$dark: #000000;

img {
  align-items: left;
  justify-content: left;
  width: 100px;
}

ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  background: $dark;
  justify-content: right;

        p {
            margin: 0;
            color:white;
        }
        p.name {
            font-weight: bold;
            font-size: 1.2rem;
        }
}

/* search bar */
.topnav .search-container {
  width: 100%;
  outline: none;
  color: grey;
  border: 5px white;
}

.topnav input[type=text] {
  padding: 6px;
  font-size: 17px;
  border: none;
}
.topnav .search-container button {
  width: 40px;
  height: 32px;
  background: $bright;
  text-align: center;
  color:$dark;
  cursor: pointer;
  font-size: 15px;
}
.topnav .search-container button:hover {
  background: $dark;
  color: white;
}
menu{
position: absolute;
width: 44px;
height: 37px;
left: 40px;
top: 25px;
}
.menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}
.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 30px;
  height: 10px;
  padding: 2rem;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Hamburger Line */
.menu-wrap .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 5px;
  background: $bright;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}
/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 5px;
  background: inherit;
}
/* Moves Line Down */
.menu-wrap .hamburger > div::after {
  top: 10px;
}
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}
/* Show Menu */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}
.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}
.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition:  opacity 0.4s ease 0.4s;
}
.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-wrap .menu > div {
  background: black;
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
  opacity: 90%;
}
.menu-wrap .menu > div > div {
  display: flex;
  align-items: center;
  justify-content: center;
   max-width: 90vw;
  max-height: 50vh;
  opacity: 0;
  transition: opacity 0.4s ease;
  margin-top: -500px,
  }
.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: $bright;
  font-size: 1.5rem;
  font-family: Staatliches;
  margin-right: 80px;
  position: relative;
}
.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}
/* RESPONSIVE STYLES*/
  /*small devices (phones, 600px and down)*/
@media screen and (max-width: 600px) {
  .topnav .search-container {
    width: 100%;
    padding-bottom: 20px;
    color: grey;
    border: 5px white;
  }
  .topnav input[type=text] {
    padding: 6px;
    font-size: 17px;
    border: none;
  }
  .topnav .search-container button {
    width: 40px;
    height: 32px;
    background: $bright;
    text-align: center;
    color:$dark;
    cursor: pointer;
    font-size: 15px;
  }
  .topnav .search-container button:hover {
    background: $dark;
    color: white;
  }
    .menu-wrap .menu > div > div {
        text-align: left;
        max-width: 90vw;
        max-height: 50vh;
        opacity: 0;
        transition: opacity 0.4s ease;
        margin-top: -500px,
        }
      .menu-wrap .menu > div > div > ul > li {
        list-style: none;
        color:$bright;
        font-size: 1.5rem;
        font-family: Staatliches;
        margin-right: 180px;
        margin-left: 230px;
        margin-bottom: 25px;
      }
      .menu-wrap .menu > div > div > ul > li > a {
        color: inherit;
        text-decoration: none;
        transition: color 0.4s ease;
      }
  }
/*small devices (phones, 600 to 800) */
@media screen and ( min-width:601px)and (max-width:1000px)  {
  .topnav .search-container {
    color: grey;
    padding-bottom: 20px;
  }
  
  .topnav input[type=text] {
    padding: 6px;
    font-size: 17px;
  }
  .topnav .search-container button {
    width: 40px;
    height: 32px;
    background: $bright;
    text-align: center;
    color:$dark;
    cursor: pointer;
    font-size: 15px;
  }
  .topnav .search-container button:hover {
    background: $dark;
    color: white;
  }
    /*this is the secction div for the menu */
    .menu-wrap .menu > div > div {
      text-align: left;
      max-width: 90vw;
      max-height: 50vh;
      opacity: 0;
      transition: opacity 0.4s ease;
      margin-top: -50px;
      position: absolute;
      }
    .menu-wrap .menu > div > div > ul > li {
      list-style: none;
      color:$bright;
      font-size: 1.5rem;
      font-family: Staatliches;
      margin-right: 80px;
      margin-left: 50px;
      margin-bottom: 25px;
    }
    .flex-containers {
      padding: 0;
      margin: 0;
      list-style: none;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
     
    }
    
    .flex-items {
      background: none;
      color: white;
      font-weight: bold;
      text-align: justify;
    }
}

/*nuevos estilso*/
.topcontainer{
  width: 100%;
  background-color: $dark;
}
li{
  color: white;
}
.flex-containers {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-evenly;
}
.flex-items {
  background: none;
  width: 400px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

