<div class="topcontainer">
  <div id="menuToggle">
    <input type="checkbox" />
    <span></span>
    <span></span>
    <span></span>
    <ul id="menu">
      <li><a [routerLink]="['/']" routerLinkActive="active">Catalog</a></li>
      <li><a [routerLink]="['/people']" routerLinkActive="active">people</a></li>
    </ul>
  </div>
    <ul class="flex-container">
      <li class="flex-item"></li>
      <li class="flex-item"><a [routerLink]="['/']" routerLinkActive="active"><img src="assets/starwarslogo.png"></a></li>
      <li class="flex-item">      
        <div class="topnav">
          <form class="search-container" action="/search">
          <input type="text" placeholder="Search.." name="search">
          <button type="submit"><i class="fa fa-search"></i>    </button>
          </form>
        </div>
      </li>
    </ul>
</div>
  
