
$bright: #FFE81F;
$dark: #000000;

* { margin: 0; padding: 0; border: none; }


h1{
  color:$dark;
  font-family: 'Staatliches', cursive;  
  }

.container{
  display: flex;
  margin: 20px auto;
  padding-top: 20px;
  max-width: 1100px;
  flex-direction: column;
  align-items: left;

}

h2{
  color: $dark;
  font-family: 'Staatliches', cursive;  
  font-size: 18px;
}

p {
  color: white;
  font-family: Arial;
  line-height: 1.7em;
}

h3{
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 15px;
  color: white;
  margin-bottom: 10px;
}

hr{
  display: block;
  margin-top: 3em;
  margin-bottom: 3em;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid $bright;
}

a,
a:visited,
a:hover {
  color: white;
  text-decoration: none;
}

a:hover {
  color: $bright;
}

/* Responsive Styles */ /*TABLET*/ /*TODO ESTO ME SIRVE */
@media screen and (max-width: 767px) {

  /*BORRAR DE AQUI*/
  .card-container > *:not(.circle-link) ,
  .terminal {
    width: 80%;
  }

  .card:not(.highlight-card) {
    height: 16px;
    margin: 8px 0;
  }

  .card.highlight-card span {
    margin-left: 72px;
  }

  /*HASTA AQUI*/

  h1{
    margin-left:30px;
  }

}

/* Responsive Styles */ /*MOBILE*/

@media screen and (max-width: 575px) {
  svg#rocket-smoke {
    display: none;
    visibility: hidden;
  }
}
